

.poll{
	position: relative;
	left: 20%;
	top: 10%;
	width: 300px;
	height: auto;
	border:2px solid #171717;
}
.PollVraag{
	position: relative;
	width: 100%;
	padding-left: 2%;
	height: auto;
	top: 0;
	left: 0;
	font-size: 20px;
}
.pollAntwoorden{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	padding-left: 4%;
	height: 30px;
	border:none;
	background: none;
	transition: 0.3s;
	text-align: left;
	cursor: default;
}
.pollAntwoorden:hover{
	transform: scale(1.08,1.08);
}
.pollFake{
	position: absolute;
	height: 0px;
	visibility: hidden;
}
.closePoll{
	position: absolute;
	right: 10px;
	top: -12px;
	font-size: 30px;
	color: white;
}
.innerPoll{
	position: relative;
	/*height: auto;*/
	display: none;
}
.procent{
	position: relative;
	width: 100%;
	padding-left: 4%;
}
.overlay{
	position: absolute;
	left: 0;
	top: 0;		
	height: 100%;
	background-color: rgb(70, 124, 193,0.5)
}